@font-face {
  font-family: 'ADC';
  src: asset-url('ADCCommunityPoster-SemiBold.otf');
  src: local('ADC'),
    asset-url('ADCCommunityPoster-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'PT Root UI';
  src: asset-url('PT_Root_UI_Regular.otf');
  src: local('PT Root UI Regular'),
    asset-url('PT_Root_UI_Regular.otf') format('opentype');
  /*   font-weight: normal;
font-style: normal; */
}

@font-face {
  font-family: 'PT Root UI';
  src: asset-url('PT_Root_UI_Medium.otf');
  src: local('PT Root UI Medium'),
    asset-url('PT_Root_UI_Medium.otf') format('opentype');
  /*   font-weight: 400;
font-style: normal; */
}
