@font-face {
  font-family: 'ADC';
  src: asset-url('ADCCommunityPoster-SemiBold.otf');
  src: local('ADC'),
    asset-url('ADCCommunityPoster-SemiBold.otf') format('opentype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'PT Root UI Regular';
  src: asset-url('PT_Root_UI_Regular.otf');
  src: local('PT Root UI Regular'),
    asset-url('PT_Root_UI_Regular.otf') format('opentype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI Medium';
  src: asset-url('PT_Root_UI_Medium.otf');
  src: local('PT Root UI Medium'),
    asset-url('PT_Root_UI_Medium.otf') format('opentype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  font-weight: 400;
font-style: normal; */
}
